@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Gaegu', cursive, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #D1EFE4;
    border-radius: 10px;
}

